rasa==2.8.21 # NB! when updating, make sure to also update:
            # * rasa-sdk base image in Dockerfile
            # * RASA_VERSION and RASA_X_VERSION  in .github/workflows/continuous-deployment.yml
-r actions/requirements-actions.txt
pytablewriter
python-dotenv~=0.15.0
