
name: Build and Deploy
on: [pull_request]

jobs:
  lint-testing:
    name: Code Formatting Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade "pip<20"
        pip install -r requirements-dev.txt
    - name: Code Formatting Tests
      working-directory: ${{ github.workspace }}
      run: |
        make lint
  type-testing:
    name: Type Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade "pip<20"
        pip install -r requirements-dev.txt
    - name: Type Checking
      working-directory: ${{ github.workspace }}
      run: |
        make types
  data-validation:
    name: Data Validation
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade "pip<20"
        pip install -r requirements-dev.txt
    - name: Rasa Data Validation
      working-directory: ${{ github.workspace }}
      run: |
        rasa data validate --debug
  training-testing:
    name: Testing Stories
    runs-on: ubuntu-latest
    needs: [data-validation]
    steps:
    - uses: actions/checkout@v1
    - id: files
      uses: jitterbit/get-changed-files@v1
    - name: set_training
      if: |
          contains(  steps.files.outputs.all, 'data/' ) 
          || contains(  steps.files.outputs.all, 'config.yml' ) 
          || contains(  steps.files.outputs.all, 'domain.yml' )
      run: echo "RUN_TRAINING=true"  >> $GITHUB_ENV
    - name: Set up Python 3.7
      if: env.RUN_TRAINING == 'true'
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      if: env.RUN_TRAINING == 'true'
      run: |
          python -m pip install --upgrade "pip<20"
          pip install -r requirements-dev.txt
    - name: Cross-validate NLU model
      id: cvnlu
      if: |
          ( 
            ( 
              contains( github.event.pull_request.labels.*.name, 'nlu_testing_required' ) 
              && contains(  steps.files.outputs.all, 'data/nlu/' ) 
            )
            || contains(  steps.files.outputs.all, 'config.yml' ) 
          )
      run: |  
          rasa test nlu -f 3 --cross-validation
          python .github/workflows/format_results.py
    - name: post cross-val results to PR
      if: steps.cvnlu.outcome == 'success'
      uses: amn41/comment-on-pr@comment-file-contents
      continue-on-error: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        msg: results.md
    - name: Train Model
      if: env.RUN_TRAINING == 'true'
      working-directory: ${{ github.workspace }}
      run: |
        rasa train
    - name: Test Training Stories
      if: |
          contains(  steps.files.outputs.all, 'data/core/' ) 
          || contains(  steps.files.outputs.all, 'config.yml' ) 
          || contains(  steps.files.outputs.all, 'domain.yml' )
      working-directory: ${{ github.workspace }}
      run: |
        rasa test core --stories test/test_stories.md --fail-on-prediction-errors
    - name: Upload model
      if: |
          github.ref == 'refs/heads/main'
          && env.RUN_TRAINING == 'true'
      uses: actions/upload-artifact@main
      with:
        name: model
        path: models
  build-images:
    name: Build and Push Images
    needs: [lint-testing, type-testing, training-testing]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - id: files
      uses: jitterbit/get-changed-files@v1
    - name: set_actions
      if: |
        contains(  steps.files.outputs.all, 'actions/' ) 
        || contains(  steps.files.outputs.all, 'Dockerfile' )
      run: echo "ACTIONS_CHANGED=true" >> $GITHUB_ENV
    - name: Authenticate into Google Cloud Platform
      if: env.ACTIONS_CHANGED == 'true'
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '275.0.0'
        service_account_key: ${{ secrets.GCLOUD_AUTH }}
    - name: Configure Docker to use Google Cloud Platform
      if: env.ACTIONS_CHANGED == 'true'
      run: |
        gcloud auth configure-docker
    - name: Pull Latest Image
      if: env.ACTIONS_CHANGED == 'true'
      run: |
        docker pull gcr.io/replicated-test/rasa-demo:latest || true
    - name: Build Image
      if: env.ACTIONS_CHANGED == 'true'
      run: |
        docker build --cache-from gcr.io/replicated-test/rasa-demo:latest .

  mergepal-merge: # run merge pal in the end
    runs-on: ubuntu-latest
    needs: [lint-testing, type-testing, training-testing, build-images]
    steps:
      - uses: actions/checkout@v1
      - uses: rasahq/merge-pal-action@v0.5.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
